/*GENERAL STYLES START*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Applied Roboto to all text */
}


.wrapper {
    margin: auto;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
}

.wrapper-full {
    margin: auto;
    width: 100%;
    height: 90vh;
    overflow:hidden;
}



.row {
    margin-right: 0;
    margin-left: 0;
}


.col-s {
    padding-left: 0;
    padding-right: 0;
}

    .col-section-header

{
    width: 100%;
    text-align: left;
    padding-left: 40px;
}


.landing-btn {
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 55px;
    margin: 20px auto 0 auto;
    display: block;
    text-transform: uppercase;
    z-index:1;
    
}


/* GENERAL STYLES END */

/* NAV BAR START */
.desktop-navbar {
    background-color: #f8f9fa;
    height: 100px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar-item {
    display: flex;
    align-items: center;
}

.nav-our-story {
    flex: 1;
    text-align: left;
    font-size: 20px;
}

.nav-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-logo-wrapper {
    background-color: #e0e0e0;
    width: 320px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-search-bar-container {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex: 1; 
    justify-content: left;
}

.nav-right-items {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-user-container,
.nav-cart-container {
    display: flex;
    align-items: center; /* Align icon and text vertically */
}

.search-icon,
.user-icon,
.cart-icon {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    margin-right: 8px; /* Space between icon and text */
}

.nav-search-bar {
    width: 267px;
    height: 40px;
    padding-left: 10px; /* Optional padding inside the input */
    border: 1px solid #ccc; /* Optional border */
    border-radius: 4px; /* Optional rounded corners */
}

.login-link,
.cart-link {
    font-size: 20px;
    padding: 7px;
    text-decoration: none;
    color: #333;
}

.cart-link {
    font-size: 2em;
}

.desktop-navbar a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
}

/* NAV BAR END */

/* NAV BAR END */



/*HOME PAGE START*/
/* Landing Content Start */
.landing-full-wrapper {
    height: 90vh;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("images/landing_main_gift_img.png");
    background-size: 1200px 708px;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
}

.landing-wrapper {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 58%;
    margin-left: auto;
    transform: translateY(-40%);
}

.subject {
    font-size: 4.1rem;
    margin-bottom: 40px;
    color: #333;
    word-spacing: 10px;
}

.icons-container {
    display: flex;
    justify-content: flex-start;
    gap: 120px;
    margin-top: 20px;
    width: 100%;
}

.icons-container > a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Ensure the text inherits the color */
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 2px solid transparent; /* Transparent border for consistent spacing */
    transition: border-bottom 0.3s ease; /* Smooth transition */
}

    .icon-item img {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }

.icon-text {
    font-size: 1.5rem;
    text-align: left;
    color: black;
}

.icon-item:hover {
    border-bottom: 2px solid black; /* Show the border on hover */
}

    .icon-item:hover .icon-text {
        font-weight: bold; /* Make the text bold on hover */
    }

    /* Remove text-decoration on hover for the link */
    .icon-item:hover > a {
        font-weight: bold; /* Make the text bold on hover */
    }

.description-text {
    display: none;
    font-size: 20px;
    position: absolute;
    background-color: #DADCE0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    top: 350px;
    left: 43.5%;
    transform: translateX(-50%);
    width: 87%;
    height: 180px;
}

    .description-text.active {
        display: block;
    }

.icon-item.active {
    display: block;
}

.icon-item:hover .description-text {
    display: block;
}

/* Landing Content End */



/*Create Your Own Gift START*/

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
}

.row-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.col-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 550px;
    background-color: #D9D9D9;
    padding: 20px 40px;
    border-radius: 8px;
    transition: transform 0.3s;
    justify-content: space-between;
}


.landing-create-text {
    margin: 10px 0;
    font-size: 2rem;
}

.col-m img {
    max-width: 100%;
    height: auto;
}
/*Create Your Own Gift END*/


/*Gifting Guideline START*/
.landing-guideline-wrapper {
    height: 70vh;
    position: relative; /* Allow for positioning of child elements */
}

.landing-guideline-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* Behind content */
}

.landing-guideline-info-box {
    position: relative;
    z-index: 1;
    padding: 30px;
    font-size: 1.5rem;
    line-height: 1.6;
    background: rgba(255, 255, 255, 0.9);
    max-width: 800px; 
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    transform: translateY(50px); 
}
.landing-btn {
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 55px;
    margin: 20px auto 0 auto;
    display: block;
    text-transform: uppercase;
    z-index: 1;
}
/*Gifting Guideline - END*/




/*Become Supplier START*/
.become-supplier-col-image {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40%;
}

    .become-supplier-col-image img {
     max-width: 100%; 
     height: auto;
    }

.become-supplier-col-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 60%;
}

    .become-supplier-col-text p {
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 20px;
        font-family: Roboto;
    }


/*Become Supplier End*/




/*HOME PAGE END*/




/*Shop by Occasion Page START*/

.home-content_wrapper {
    height: 100%;
    padding: 0;
    margin: auto;
}

.occassion-icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.occassion-icon-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    cursor: pointer;
    padding-bottom: 10px;
}

    .occassion-icon-item img {
        width: 100%;
        max-width: 400px;
        height: 200px;
        margin-bottom: 10px;
    }

.occassion-icon-text {
    font-size: 2rem;
    text-align: center; 
}

/* Button styling remains unchanged */


.occasion-button {
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 50px;
    margin: 20px auto 0 auto;
    display: block;
}


/*Shop by Occasion Page END*/
